:root{
    --iris:#4d5ae5;
    --ocean:#404BBF;
    --navy-blue:#2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8E8F99;
    --cornflower:#E7E9FC;
    --cloud:#F4F4FD;
    --navy-blue-modal:#2e2f42a4;
    --grey:#2e2f42a7;
    --white:#fff;
    --diary:#FCFCFC;



}
/* reset styles */

ul {

    padding-inline-start: 0;

    margin-block-start: 0;

    margin-block-end: 0;

    /* margin: 0;

  padding: 0; */

    list-style-type: none;

}



h1,

h2,

h3,

p {

    margin-block-start: 0;

    margin-block-end: 0;

    /* margin: 0; */

}

a {

    text-decoration: none;

    font-style: normal;

}
 /* reset styles end  */
body{
    font-family: "Roboto", sans-serif;
    color:var(--slate);
    background-color: var(--white);
    font-weight:normal;
    font-size: 16px;
    line-height: 156.25%;
    letter-spacing: 2%;
}

img{
    display: block;
}


.container{
    max-width: 1158px;
    margin: 0 auto ;
    padding: 0 15px;
}

.section{
    padding-top: 120px;
    padding-bottom:120px;
    padding-left: 156px;
    padding-right: 156px;


}
.header-section{
    height: 72px;
        flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower);
}

.header-container{
    
    display: flex;
    justify-content: space-between;


}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 76px;
}
.navy-text{
    color: var(--navy-blue);
}

.iris-logo{
color:var(--iris);
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;

}

.nav-list {
    display: flex;
    gap: 40px;
    
}


.nav-menu{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color:var(--navy-blue);
        padding: 24px 0;

}
.nav-menu .link{
    color:var(--navy-blue)
}


.nav-menu:hover,
.nav-menu:focus{
    color: var(--ocean);
}


.address {
    font-style: normal;
    
}
.address-list {
    display: flex;
        gap: 40px;
        justify-content: space-between;
}

.address-link{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--slate);
        
}




.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

.hero-section{
background-color: var(--navy-blue);
padding: 188px 0;
}

.hero-container{
    height: 600px;
        flex-shrink: 0;
        justify-content: center;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 496px;
  
}
        

.primary-button{
    font-family: "Roboto", sans-serif;
    font-weight:500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        cursor: pointer;
    background-color: var(--iris);
    color:var(--white);
    border: none;
    border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            padding: 16px 32px;
            display: block;
            min-width: 169px;
            height: 56px;
            margin-top: 356px;
            margin-bottom: 188px;
            margin-left: 635px;
            margin-right:635px
}


.primary-button:hover, 
.primary-button:focus{
    background-color:var(--ocean);
}
.second-section{
    background-color:var(--white);
    padding: 120px 0;
}

.header-two{
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        
}

.visually-hidden {position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 .list {
     display: flex;
     gap: 24px;
 }

       

.list-item{
    width: calc((100% - 3*24px)/4);
    margin: 24px;
}

.list-item:last-child{
    margin-right: 0;
}

.border{
    border-radius: 0px 0px 4px 4px;
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-three-adv{
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue);
        background-color: var(--white);
        margin-bottom: 8px;
}
.list-p{
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--slate);
        background-color: var(--white);
}


.third-section{
    background-color: var(--cloud);
}

.fourth-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-portofolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.list-item-portofolio{
    width: calc((100% - 48px)/3);
}
.item-container{
padding: 32px 16px;
border: 1px solid var(--cornflower);
border-top:none;
margin-bottom: 8px;
}

.footer-section{
    padding: 100px 0;
    display: inline-block;
    margin-bottom: 16px;
}

.cloud-text{
    color:var(--cloud);
}

.footer-p{
    font-family: "Raleway", sans-serif ;
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--cloud);
        text-align: left;
        max-width: 264px;
            
}